@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import "tailwindcss";

@theme inline {
  /* === Black === */
  --color-black-100: #666B6B;
  --color-black-200: #525252;
  --color-black-300: #373737;
  --color-black-400: #1F1F1F;
  --color-black-500: #040404;

  /* === Grayscale === */
  --color-gray-50:  #FFFFFF;
  --color-gray-100: #E9E9E9;
  --color-gray-200: #E0E0E0;
  --color-gray-300: #C4C4C4;
  --color-gray-400: #ABABAB;
  --color-gray-500: #999999;

  /* === Primary - Orange === */
  --color-primary-100: #FFF2E8;
  --color-primary-200: #FDE1CD;
  --color-primary-300: #FCC49C;
  --color-primary-400: #F98222;

  /* === Illustration === */
  --color-illustration-pink:   #FBD0EB;
  --color-illustration-yellow: #F4E8A0;
  --color-illustration-olive:  #9CA777;
  --color-illustration-green:  #7C9070;
  --color-illustration-mint1:  #5CD783;
  --color-illustration-mint2:  #E4F09E;

  /* === Background === */
  --color-bg-100: #FCFCFC;
  --color-bg-200: #F7F7F7;
  --color-bg-300: #F1EFEF;
  --color-bg-400: #F4F7F8;
  --color-bg-500: #FDF0DF;
  --color-bg-600: #FBF8F4;

  /* === Line === */
  --color-line-100: #F2F2F2;
  --color-line-200: #E6E6E6;

  /* === State === */
  --color-state-error: #F63E20;

  /* === Default Usage === */
  --color-background: #ffffff;
  --color-foreground: #171717;
}

/* 해당 프로젝트에 DarkMode X */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;  
    --foreground: #ededed;
  }
} */

@utility text-32-bold {
  font-size: 2rem;          /* 32px */
  line-height: 2.625rem;    /* 42px */
  font-weight: 700;
}

@utility text-32-semibold {
  font-size: 2rem;          /* 32px */
  line-height: 2.625rem;    /* 42px */
  font-weight: 600;
}

@utility text-24-bold {
  font-size: 1.5rem;        /* 24px */
  line-height: 2rem;        /* 32px */
  font-weight: 700;
}

@utility text-24-semibold {
  font-size: 1.5rem;        /* 24px */
  line-height: 2rem;        /* 32px */
  font-weight: 600;
}

@utility text-24-medium {
  font-size: 1.5rem;        /* 24px */
  line-height: 2rem;        /* 32px */
  font-weight: 500;
}

@utility text-24-regular {
  font-size: 1.5rem;        /* 24px */
  line-height: 2rem;        /* 32px */
  font-weight: 400;
}

@utility text-20-bold {
  font-size: 1.25rem;       /* 20px */
  line-height: 2rem;        /* 32px */
  font-weight: 700;
}

@utility text-20-semibold {
  font-size: 1.25rem;       /* 20px */
  line-height: 2rem;        /* 32px */
  font-weight: 600;
}

@utility text-20-medium {
  font-size: 1.25rem;       /* 20px */
  line-height: 2rem;        /* 32px */
  font-weight: 500;
}

@utility text-20-regular {
  font-size: 1.25rem;       /* 20px */
  line-height: 2rem;        /* 32px */
  font-weight: 400;
}

@utility text-18-bold {
  font-size: 1.125rem;      /* 18px */
  line-height: 1.625rem;    /* 26px */
  font-weight: 700;
}

@utility text-18-semibold {
  font-size: 1.125rem;      /* 18px */
  line-height: 1.625rem;    /* 26px */
  font-weight: 600;
}

@utility text-18-medium {
  font-size: 1.125rem;      /* 18px */
  line-height: 1.625rem;    /* 26px */
  font-weight: 500;
}

@utility text-18-regular {
  font-size: 1.125rem;      /* 18px */
  line-height: 1.625rem;    /* 26px */
  font-weight: 400;
}

@utility text-16-bold {
  font-size: 1rem;          /* 16px */
  line-height: 1.625rem;    /* 26px */
  font-weight: 700;
}

@utility text-16-semibold {
  font-size: 1rem;          /* 16px */
  line-height: 1.625rem;    /* 26px */
  font-weight: 600;
}

@utility text-16-medium {
  font-size: 1rem;          /* 16px */
  line-height: 1.625rem;    /* 26px */
  font-weight: 500;
}

@utility text-16-regular {
  font-size: 1rem;          /* 16px */
  line-height: 1.625rem;    /* 26px */
  font-weight: 400;
}

@utility text-14-bold {
  font-size: 0.875rem;      /* 14px */
  line-height: 1.5rem;      /* 24px */
  font-weight: 700;
}

@utility text-14-semibold {
  font-size: 0.875rem;      /* 14px */
  line-height: 1.5rem;      /* 24px */
  font-weight: 600;
}

@utility text-14-medium {
  font-size: 0.875rem;      /* 14px */
  line-height: 1.5rem;      /* 24px */
  font-weight: 500;
}

@utility text-14-regular {
  font-size: 0.875rem;      /* 14px */
  line-height: 1.5rem;      /* 24px */
  font-weight: 400;
}

@utility text-13-semibold {
  font-size: 0.8125rem;     /* 13px */
  line-height: 1.375rem;    /* 22px */
  font-weight: 600;
}

@utility text-13-medium {
  font-size: 0.8125rem;     /* 13px */
  line-height: 1.375rem;    /* 22px */
  font-weight: 500;
}

@utility text-12-semibold {
  font-size: 0.75rem;       /* 12px */
  line-height: 1.25rem;     /* 20px */
  font-weight: 600;
}

@utility text-12-medium {
  font-size: 0.75rem;       /* 12px */
  line-height: 1.125rem;    /* 18px */
  font-weight: 500;
}

@utility text-12-regular {
  font-size: 0.75rem;       /* 12px */
  line-height: 1.125rem;    /* 18px */
  font-weight: 400;
}

body {
  color : var(--color-black-400);
  background-color: var(--color-bg-600);
  font-family: 'Pretendard', sans-serif;
}

button { cursor : pointer; }
a { cursor : pointer; }